/*header*/

:root {
    --shadow_colour: rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
}

.navbar {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow_colour);
    min-width: 1vw;
}

.navbar_button_container {

    /* background-color: brown; */
    align-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar_button {
    padding-inline: 3.5rem;
    min-height: 3rem;
    color: black;
    /* background-color: blue; */
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.navbar_button_container:hover .resume_dropdown_content {
    display: block;
}

.resume_dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 7rem;
}

.resume_dropdown_content a:hover {
    background-color: var(--shadow_colour);
}

.resume_dropdown_content a {
    /* background-color: blue; */
    display: block;
    padding-block: 0.5rem;
    padding-left: 0.75rem;
    color: black;
    text-decoration: none;
}

/* footer */
.footer {
    margin-top: auto;
    padding-bottom: 1.5rem;
    background-color: var(--shadow_colour);
    box-shadow: 0 -0.75rem 1rem 0 var(--shadow_colour);
    padding-inline: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.footer p {
    margin: 0;
    margin-top: 0.5rem;
}

.footer_section {
    display: flex;
    flex-direction: column;
}

.footer_heading {
    font-size: 1.5rem;
}

.footer_subheading {
    font-size: 1.25rem;
}

/*body*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin-inline: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    /* color: aqua; */
}

#projects {
    display: flex;
    justify-content: space-around;
}

.project {
    margin-bottom: 2rem;
    min-width: fit-content;
}

#project_list_container {
    min-width: fit-content;
}

.project p {
    margin: 0;
}

.project_title {
    font-size: 1.25rem;
}

.project_preview {
    display: none;
    max-width: 45rem;
    border: 0.5rem, solid, black;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow_colour);
    opacity: 0;
    transition: opacity 0.2s;
    aspect-ratio: 16 / 5.5;
}

.preview_text {
    min-width: 45rem;
    border: 0.5rem, solid, black;
    border-radius: 2rem;
    aspect-ratio: 16 / 5.5;
    margin: 0;
    font-size: 2.75rem;
    text-align: center;
    align-content: center;
}

#projects:has(#resume_project:hover) {
    .project_preview {
        display: block;
        opacity: 1;
    }

    .preview_text {
        display: none;
    }
}

#projects:has(#yhatzee_project:hover) {
    #coming_soon {
        display: block;
    }

    .preview_text {
        display: none;
    }
}

#projects:has(#hospital_project:hover) {
    #coming_soon {
        display: block;
    }

    .preview_text {
        display: none;
    }
}

#coming_soon {
    display: none;
}

.resume_title {
    text-align: center;
}

.heading {
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.linkedin {
    margin: 0;
}

.linkedin-preview {
    /*display: none;*/
    position: absolute;
    pointer-events: none;
    right: -3em;
    top: 0em;
    opacity: 0%;
    transition: opacity 0.2s;
    box-shadow: 0 0.5rem 1rem 0 var(--shadow_colour);
    scale: 75%;
}

/*show LinkedIn preview image when hovering over the link */
.linkedin:hover~.linkedin-preview {
    /* display: block; */
    opacity: 100%;
}

.contact-info p {
    margin: 0;
}

.education {
    column-count: 2;
    column-gap: 2rem;
}

/* Screen less then 1000px (mobile devices) */
@media screen and (max-width: 1000px) {

    html {
        font-size: 2.5rem;
    }

    /* Header */
    .navbar {
        flex-direction: column;
    }

    .resume_dropdown_content {
        position: relative;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        display: initial;
    }

    .linkedin-preview {
        left: -2em;
        top: 3.5em;
    }

    .education {
        column-count: 1;
    }
}