body {
    margin-inline: 2%;
}

.title {
    text-align: center;
}

.heading {
    text-align: center;
}

#contact-info {
    display: flex;
    /*background-color: blue;*/
    justify-content: space-between;
    align-items: center;

}

#linkedin {
    /*background-color: bisque;*/
    margin: 0
}

#contact-info p {
    margin: 0;
}